@use 'variables' as *;
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1 {
    font-size: 24px;
    margin: 8 auto;
}
h3 {
    margin: 8px;
}
h4 {
    margin-left: 14px;
}
img {
    margin: 0 auto;
    height: 150px;
    display: block;
    clip-path: circle(40%);
}
table {
    margin: 10px;
    th {
        font-size: 20px;
    }
}
iframe {
    height: 300px;
    width: 100%;
}
body {
    background-color: $primary-color;    
    display: flex;
    flex-direction: row;
    font-family: $font-stack; 
    color: $font-color;
    
}
aside {
    background-color: $secondary-color;
   
    header {
        height: 200px;
        background-color: $complementary-color;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 60%);
    }

}

section {
padding-left: 20px;

}
section * {
    margin: 18px 0px 18px 0px;        
}

@media only screen and (max-width: 540px) {
    h2 {
        font-size: 18px;
    }
} 